@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello Exercise</h1>
<p>This is the first controller and view model exercise completion</p>
